@using Website_QuanLyNhaSachNguyenVanCu.Models;
@{
    KHACHHANG k = (KHACHHANG)Session["TaiKhoan"];

    if (k != null)
    {
        <div class="tg-userlogin">
            <div class="btn-group">
                <a class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @k.TenKhachHang
                </a>
                <div class="dropdown-menu" style="text-align:center; padding-top:10%">
                    <a class="dropdown-item" href="#">Tài khoản của tôi</a>
                    <br /><br />
                    <a class="dropdown-item" href="@Url.Action("DanhSachDonHang", "KhachHang")">Tra cứu đơn hàng</a>
                    <hr />
                    <a class="dropdown-item" href="@Url.Action("DangXuat", "KhachHang")">Đăng xuất</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="tg-userlogin">
            <h4><a href="@Url.Action("DangNhap", "KhachHang")">Đăng Nhập</a></h4>
        </div>
        <div class="tg-userlogin">
            <h4><a href="@Url.Action("DangKy", "KhachHang")">Đăng Ký</a></h4>
        </div>
    }
}