@model Website_QuanLyNhaSachNguyenVanCu.Areas.Admin.Models.QuanLyThongTin
@using PagedList.Mvc;
@{
    ViewBag.Title = "QuanLyDonHang";
    Layout = "~/Areas/Admin/Views/Shared/Admin_LayoutPage.cshtml";
}
<div id="myAlert" class="alert @TempData["LoaiTB"]" style="display:@(TempData["ht"] == null ? "none" : @TempData["ht"]); text-align:center; font-size:large;">
    @TempData["ThongBao"]
</div>
<div style="margin-left:16px">
    <div class="table-responsive">
        <div class="table-wrapper" style="width:1600px;">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><a href="@Url.Action("QuanLyDonHang", "DonHang")">Quản lý <b>Đơn hàng</b></a></h2>
                    </div>         
                </div>

                <div class="row">
                    <form method="post" class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 navbar-search" action="/Admin/DonHang/SearchDonHang">
                        <div class="input-group">
                            <input type="text" name="searchDH" class="form-control bg-light border-0" style="width:300px;" spellcheck="false" placeholder="Nhập mã đơn hàng, tên khách hàng..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <h4 style="margin-left:200px; font-weight:bold;">Lọc thời gian:</h4>
                    @{
                        using (Html.BeginForm("LocDonHang", "DonHang", new { @pt = (ViewBag.Time == null) ? "1000-01-01" : ViewBag.Time, @loc = ViewBag.Loc }, FormMethod.Post))
                        {
                            <div style="display:flex; margin-left:10px">
                                <input type="date" name="thoiGian">
                                <h4 style="margin-left:14px; font-weight:bold;">Theo:</h4>
                                <select style="width:100px; margin-left:10px;" class="form-control" name="filter">
                                    <option value="yy">Năm</option>
                                    <option value="qq">Quý</option>
                                    <option value="mm">Tháng</option>
                                    <option value="dd">Ngày</option>
                                </select>
                                <input type="submit" class="btn btn-info" style="font-size:medium; margin-left:20px; font-weight:bold;" value="Lọc">
                            </div>
                        }
                    }
                </div>
            </div>
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th style="width:10%">Mã đơn hàng</th>
                        <th style="width:10%">Ngày đặt hàng</th>
                        <th style="width:18%">Email Khách hàng</th>                       
                        <th style="width:20%">Trạng thái đơn hàng</th>
                        <th style="width:10%">Thanh toán</th>
                        <th style="width:10%">Kiểu thanh toán</th>
                        <th style="width:10%">Khách trả</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.PLDonHang)
                        {
                            <tr>
                                <td><a href="@Url.Action("ChiTietDonHang", "DonHang", new { @maDH = item.MaDonHang })">#@Html.DisplayFor(i => item.MaDonHang)</a></td>
                                <td>@item.NgayDat.Value.ToString("dd/MM/yyyy")</td>
                                <td>@Html.DisplayFor(i => item.KHACHHANG.Email)</td>
                                <td>@Html.DisplayFor(i => item.TinhTrang)</td>
                                <td>@Html.DisplayFor(i => item.ThanhToan)</td>
                                <td>@Html.DisplayFor(i => item.HinhThucTT)</td>
                                <td>@string.Format("{0:0.000}", item.TongThanhTien) đ</td>
                            </tr>
                        }
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div style="font-size:22px;">
                @Html.PagedListPager(Model.PLDonHang, page => Url.Action("QuanLyDonHang", new { page }))
            </div>
        </div>
    </div>
</div>

